# ml stuff
numpy
scipy
scikit-learn
matplotlib
ipywidgets
# lang chain
langchain
langchain_community
langchain-ollama
langchainhub
# misc stuff
pillow
python-dotenv
pydantic
chromadb
faiss-cpu
beautifulsoup4
wikipedia