# general ml stuff
numpy
scipy
scikit-learn
matplotlib
ipywidgets
# langchain
langchain
langchain_community
langchain-ollama
langchainhub
# langchain dependencies
pydantic
chromadb
faiss-cpu
beautifulsoup4
wikipedia
youtube_transcript_api
# misc
python-dotenv
requests
pillow
