# general ml stuff
numpy
scipy
scikit-learn
matplotlib
ipywidgets
ipython
# langchain
langchain
langgraph
langsmith
langchain_core
langchain_community
langchain_chroma
langchain_tavily
langchain-ollama
langchainhub
# langchain dependencies
pydantic
chromadb
faiss-cpu
beautifulsoup4
wikipedia
youtube_transcript_api
tiktoken
umap-learn
voyager
transformers
ragatouille
unstructured[all-docs]
# misc
python-dotenv
requests
pillow
